.span{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background-color: #3498bd;
    border-radius: 5px;
    border: 1px black solid;
}
#letter{
    margin-left: 500px;
    margin-top: 200px;
    border-collapse:collapse;
    background-color: #a0e0f8;
    border-bottom-width:7px;
}
input{
    padding: 10px;
    font-size: 20px;
    color: #e31313;
    border: 2px #000000 solid;
    border-bottom: 7px;
    background-color: #ffffff;
    border-radius: 5px;
    width:5px;
}
.container{
    width:50%;
}
form{
    display:flex;
    flex-direction:row;
    gap:5px;
    justify-content:center;
    background-color: #e31313;
    width:50%;
}