ul {
    list-style-type: none;
    display: none;
}
body {
    background-color: #F0f0f0;
}
.flex {
    display: flex;
}
.flex-center {
    justify-content: center;
}
.flex-between {
    justify-content: space-between;
}
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}
.card {
    width: 300px;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: white;
}
.flex-row {
    flex-direction: row;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.flex-grow {
    flex-grow: 1;
}
.relative {
    position: relative
}
.cart ul {
    background-color: #fff !important;
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 300px;
}
.cart ul li {
    padding: 10px 0;
}
.cart ul li:hover {
    background-color: #ddd;
}
.cart ul {
    position: absolute;
    right: 0;
    top:0;
    animation:movecart 30s linear;
}
@keyframes movecart{
    from{}
}
.btn {
    background-color: #222;
    color: #FFF;
    padding: 8px 15px;
    outline: none;
    border: none;
    border-radius: 8px;
}
.btn-wide {
    padding-left: 30px !important;
    padding-right: 30px  !important;
}
